<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 성공</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>회원가입 성공</h2>
    <p>회원가입이 성공적으로 완료되었습니다!</p>
    <p>다시 로그인하려면 <a th:href="@{/login}">여기</a>를 클릭하세요.</p>
</div>
</body>
</html>